<ng-container class="container" *ngIf="showReportIssue === false">

  <button (click)="showReportIssue = true" class="btn btn-primary">Add new issue</button>

  <clr-datagrid>

    <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'issueNo'" class="issue-number">Issue No</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'" class="type">Type</clr-dg-column>
    <clr-dg-column [clrDgField]="'title'" class="title">Title</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'" class="description">Description</clr-dg-column>
    <clr-dg-column [clrDgField]="'priority'" class="priority">Priority</clr-dg-column>

    <clr-dg-row *clrDgItems="let issue of issues">

      <clr-dg-action-overflow>
        <button (click)="selectedIssue= issue" class="action-item">Resolve</button>
      </clr-dg-action-overflow>

      <clr-dg-cell class="issue-num-data" >{{issue.issueNo}}</clr-dg-cell>
      <clr-dg-cell>{{issue.type}}</clr-dg-cell>
      <clr-dg-cell>{{issue.title}}</clr-dg-cell>
      <clr-dg-cell class="description" >{{issue.description}}</clr-dg-cell>
      <clr-dg-cell>
        <span [class.label-danger]="issue.priority === 'high'" class="label priority-text">{{issue.priority}}</span>
      </clr-dg-cell>

    </clr-dg-row>

    <clr-dg-footer>{{issues.length}} issues</clr-dg-footer>
  </clr-datagrid>

</ng-container>

<app-issue-report (formClose)="onCloseReportIssue()" *ngIf="showReportIssue == true"></app-issue-report>

<app-confirm-dialog (confirm)="onConfirm($event)" *ngIf="selectedIssue"
                    [issueNo]="selectedIssue.issueNo"></app-confirm-dialog>
