<div class="container">

  <div class="card mx-auto text-center border-light"
       style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Contact Me</h5>
      <p class="card-text">
        You can reach me on Twitter, GitHub, or LinkedIn
      </p>


      <a class="card-link twitter " href="https://twitter.com/devmuzaky" target="_blank">
        <img alt="" class="mat-icon social-icon" src="assets/1399538_material%20design_twitter_icon.png">
      </a>
      <a href="https://github.com/devmuzaky" target="_blank">
        <img alt="" class="mat-icon social-icon" src="assets/211904_social_github_icon.png">
      </a>

      <a href="https://www.linkedin.com/in/devmuzaky/" target="_blank">
        <img alt="" class="mat-icon social-icon" src="assets/1399541_linkedin_material%20design_icon.png">
      </a>

    </div>
  </div>
</div>
